@font-face {
	font-family: LiberationSerif;
	src: url("fonts/LiberationSerif-Regular.ttf");
}
@font-face {
	font-family: LiberationSerif;
	src: url("fonts/LiberationSerif-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: LiberationSerif;
	src: url("fonts/LiberationSerif-Italic.ttf");
	font-style: italic;
}	
@font-face {
	font-family: LiberationSerif;
	src: url("fonts/LiberationSerif-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}



@font-face {
	font-family: LiberationSans;
	src: url("fonts/LiberationSans-Regular.ttf");
}
@font-face {
	font-family: LiberationSans;
	src: url("fonts/LiberationSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: LiberationSans;
	src: url("fonts/LiberationSans-Italic.ttf");
	font-style: italic;
}	
@font-face {
	font-family: LiberationSans;
	src: url("fonts/LiberationSans-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}
